<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Page menu</title>
  </head>
  <body id="body">
    <!--
    Only the internal content of the following div is included within
    the template, in menu fragment
    -->
    <nav class="navbar navbar-default navbar-static-top" data-th-fragment="menu">

         <div class="container">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav" aria-expanded="false">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <!-- Brand logo -->
              <div class="organization-logo navbar-brand">
                <a title="CHAOS" href="/" data-th-href="@{/}">
                  <img alt="CHAOS" data-th-src="@{/public/img/logo.png}" src="/img/logo.png" />
                </a>
              </div>
              <!-- Name application -->
              <div class="application-name navbar-brand hidden-xs"><a href="/" data-th-href="@{/}">CHAOS</a></div>

            </div><!-- /navbar-header -->

            <div id="mainnav" class="navbar-collapse collapse">

              <ul class="nav navbar-nav" id="entitiesMenuEntries">
                <li class="dropdown" id="category-entry" data-z="25da7923">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_category})}">Category<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                  <li><a href="/categories/create-form" data-th-href="@{/categories/create-form}" data-th-text="#{label_create_entity(#{label_category})}">Create Category</a></li>
	                  <li><a href="/categories" data-th-href="@{/categories}" data-th-text="#{label_list_entity(#{label_category_plural})}">List Category</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="customerorder-entry" data-z="aad5bc76">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_customerorder})}">CustomerOrder<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                  <li><a href="/customerorders/create-form" data-th-href="@{/customerorders/create-form}" data-th-text="#{label_create_entity(#{label_customerorder})}">Create CustomerOrder</a></li>
	                  <li><a href="/customerorders" data-th-href="@{/customerorders}" data-th-text="#{label_list_entity(#{label_customerorder_plural})}">List CustomerOrder</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="orderproduct-entry" data-z="b2af5e48">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_orderproduct})}">OrderProduct<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                  <li><a href="/orderproducts/create-form" data-th-href="@{/orderproducts/create-form}" data-th-text="#{label_create_entity(#{label_orderproduct})}">Create OrderProduct</a></li>
	                  <li><a href="/orderproducts" data-th-href="@{/orderproducts}" data-th-text="#{label_list_entity(#{label_orderproduct_plural})}">List OrderProduct</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="product-entry" data-z="84fc89d6">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_product})}">Product<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                  <li><a href="/products/create-form" data-th-href="@{/products/create-form}" data-th-text="#{label_create_entity(#{label_product})}">Create Product</a></li>
	                  <li><a href="/products" data-th-href="@{/products}" data-th-text="#{label_list_entity(#{label_product_plural})}">List Product</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="status-entry" data-z="b879026b">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_status})}">Status<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                  <li><a href="/statuses/create-form" data-th-href="@{/statuses/create-form}" data-th-text="#{label_create_entity(#{label_status})}">Create Status</a></li>
	                  <li><a href="/statuses" data-th-href="@{/statuses}" data-th-text="#{label_list_entity(#{label_status_plural})}">List Status</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="userinfo-entry" data-z="bfb9299d">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_userinfo})}">UserInfo<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                  <li><a href="/userinfoes/create-form" data-th-href="@{/userinfoes/create-form}" data-th-text="#{label_create_entity(#{label_userinfo})}">Create UserInfo</a></li>
	                  <li><a href="/userinfoes" data-th-href="@{/userinfoes}" data-th-text="#{label_list_entity(#{label_userinfo_plural})}">List UserInfo</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="userrole-entry" data-z="a60bf08">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_userrole})}">UserRole<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                  <li><a href="/userroles/create-form" data-th-href="@{/userroles/create-form}" data-th-text="#{label_create_entity(#{label_userrole})}">Create UserRole</a></li>
	                  <li><a href="/userroles" data-th-href="@{/userroles}" data-th-text="#{label_list_entity(#{label_userrole_plural})}">List UserRole</a></li>
                 </ul>
                </li>
              </ul>

              <!-- Language select -->
              <ul class="nav navbar-nav navbar-right upper-nav languages" data-th-replace="fragments/languages :: languages">
                <!-- Content replaced by the session template fragment language.html
                -->
                <span>Language data</span>
              </ul>



              <!-- User menu links -->
              <ul class="nav navbar-nav navbar-right upper-nav links" data-th-replace="fragments/session-links :: links">
                <!-- Content replaced by the links template fragment session-links.html
                -->
                <span>User session data</span>
              </ul>
           </div>

          </div>
    </nav>

    <!--
    Only the internal content of the following div is included within
    the template, in menu-languages fragment
    -->
    <nav class="navbar navbar-default navbar-static-top" data-th-fragment="menu-languages">

         <div class="container">

            <div class="navbar-header">

              <!-- Brand logo -->
              <div class="organization-logo navbar-brand">
                <a title="CHAOS" href="/" data-th-href="@{/}">
                  <img alt="CHAOS" data-th-src="@{/public/img/logo.png}" src="/img/logo.png" />
                </a>
              </div>
              <!-- Name application -->
              <div class="application-name navbar-brand hidden-xs"><a href="/" data-th-href="@{/}">CHAOS</a></div>

            </div><!-- /navbar-header -->

            <div id="mainnav" class="navbar-collapse collapse">

              <!-- Language select -->
              <ul class="nav navbar-nav navbar-right upper-nav languages" data-th-replace="fragments/languages :: languages">
                <!-- Content replaced by the session template fragment language.html
                -->
                <span>Language data</span>
              </ul>

           </div>

          </div>
    </nav>

  </body>
</html>
